<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        
        <authorization>
            <deny users="?" />
            <allow roles="Admin" />
			<allow roles="Operator" />
			<allow roles="Super Admin" />
        </authorization>
      <pages theme="Blue"/>
    </system.web>
</configuration>