<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="IpBlockerGroup">
			<section 
				name="IpBlockerConfiguration" 
				type="IpBlocker.Configuration.IpBlockerConfigurationSection, IpBlocker"
				allowLocation="true"
        allowDefinition="Everywhere" />
		</sectionGroup>	
	</configSections>
	
	<IpBlockerGroup>
		<IpBlockerConfiguration>
		
			<pages defaultScheme="blockIp">
				<page name="contactus.aspx" />
				<page name="home.aspx" scheme="blockIpRange" />
				<page name="aboutus.aspx" scheme="blockCountry" />
			</pages>
			
			<schemes>
				<!-- Used for Load Test -->
				<scheme name="blockIp">
					<ips>
						<!-- Use * as wild card -->
						<ip value="*.*.*.*" access="granted" valueType="IpAddress" />
						<!-- min value and max value seperated by ; (i.e. 127.1.2.3;233.3.3.2) -->
						<ip value="127.0.0.1;127.0.0.2" access="denied" valueType="IpRange" />
						<!-- ; seperated country code (i.e. IN;US) -->
						<ip value="IN;US" access="denied" valueType="CountryCode" />
					</ips>
				</scheme>
				<scheme name="blockIpRange">
					<ips>
						<ip value="US" access="denied" valueType="CountryCode" />
					</ips>
				</scheme>
				<scheme name="blockCountry">
					<ips>
						<ip value="*.*.*.*" access="granted" valueType="IpAddress" />
						<ip value="127.0.0.1" access="denied" valueType="IpAddress" />
					</ips>
				</scheme>
				
				<!-- Used for IpAddress Test -->
				<scheme name="ipaddress_test1">
					<ips>
						<ip value="127.0.0.1" access="granted" valueType="IpAddress" />
					</ips>
				</scheme>
				<scheme name="ipaddress_test2">
					<ips>
						<ip value="127.0.0.2" access="denied" valueType="IpAddress" />
					</ips>
				</scheme>
				<scheme name="ipaddress_test3">
					<ips>
						<ip value="127.0.0.1" access="granted" valueType="IpAddress" />
						<ip value="127.0.0.2" access="denied" valueType="IpAddress" />
					</ips>
				</scheme>
				<scheme name="ipaddress_test4">
					<ips>
						<ip value="127.0.0.2" access="denied" valueType="IpAddress" />
						<ip value="127.0.0.1" access="granted" valueType="IpAddress" />
					</ips>
				</scheme>
				
				<!-- Used for IpRange Test -->
				<scheme name="iprange_test1">
					<ips>
						<ip value="127.0.0.1;127.0.0.5" access="granted" valueType="IpRange" />
					</ips>
				</scheme>
				<scheme name="iprange_test2">
					<ips>
						<ip value="127.0.0.*" access="denied" valueType="IpAddress" />
					</ips>
				</scheme>
				<scheme name="iprange_test3">
					<ips>
						<ip value="127.0.0.*" access="granted" valueType="IpAddress" />
						<ip value="127.0.0.20;127.0.0.23" access="denied" valueType="IpRange" />
					</ips>
				</scheme>
				
				<!-- Used for CountryCode Test -->
				<scheme name="countrycode_test1">
					<ips>
						<ip value="XX" access="granted" valueType="CountryCode" />
					</ips>
				</scheme>
				<scheme name="countrycode_test2">
					<ips>
						<ip value="XX" access="denied" valueType="CountryCode" />
					</ips>
				</scheme>
				<scheme name="countrycode_test3">
					<ips>
						<ip value="XX;US" access="granted" valueType="CountryCode" />
					</ips>
				</scheme>
				
				<!-- Used for Ip Ranges Test -->
				<scheme name="ipranges_test1">
					<ips>
						<ip value="127.0.0.1;127.0.0.5,127.0.0.25;127.0.0.30" access="granted" valueType="IpRange" />
					</ips>
				</scheme>
				<scheme name="ipranges_test2">
					<ips>
						<ip value="127.0.0.1;127.0.0.5,127.0.0.25;127.0.0.30" access="denied" valueType="IpRange" />
					</ips>
				</scheme>
				
			</schemes>
		</IpBlockerConfiguration>
	</IpBlockerGroup>
</configuration>