<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    Application Development Start Date: 01.11.2014
    By: Md. Akter Uddin Rony
    Software Engineer- Extreme Solutions (www.xtremebd.com).
    Mobile: +8801817251582
    -->
  <configSections>
    <sectionGroup name="IpBlockerGroup">
      <section name="IpBlockerConfiguration" type="IpBlocker.Configuration.IpBlockerConfigurationSection, IpBlocker" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
  <section name="ajaxControlToolkit" type="AjaxControlToolkit.AjaxControlToolkitConfigSection, AjaxControlToolkit" /></configSections>
  <appSettings>
    
    <add key="DateSeparator" value="/" />
    <add key="DateFormat" value="dd/MM/yyyy" />
    <add key="Telerik.Skin" value="Transparent" />
    <add key="Telerik.ScriptManager.TelerikCdn" value="Enabled" />
    <add key="Telerik.StyleSheetManager.TelerikCdn" value="Enabled" />
    <add key="aspnet:MaxHttpCollectionKeys" value="500" />
    <add key="bd.com.robi.cmp.CMPWebService" value="http://cmp.robi.com.bd/WS/CMPWebService.asmx" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
	
  <connectionStrings>
    <remove name="LocalSqlServer" />
	  <add name="LocalSqlServer" connectionString="Data Source=XSERVER1; Initial Catalog=qpailerp; User ID=sa; Password=3p3200170@" providerName="System.Data.SqlClient" />
    <add name="Connection_String" connectionString="Data Source=XSERVER1; Initial Catalog=qpailerp; User=sa; Password=3p3200170@" providerName="System.Data.SqlClient" />
    <add name="Report_Server" connectionString="Data Source=XSERVER1; Initial Catalog=qpailerp; User=sa; Password=3p3200170@" providerName="System.Data.SqlClient" />
    <add name="qpailerpConnectionString" connectionString="Data Source=XSERVER1; Initial Catalog=qpailerp; User ID=sa; Password=3p3200170@" providerName="System.Data.SqlClient" />
    <add name="qpailerpConnectionString" connectionString="Data Source=XSERVER1; Initial Catalog=qpailerp; User ID=sa; Password=3p3200170@" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--<connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=.\SQL2019;Initial Catalog=qpailerp31102021_live; User=sa; Password=3p3200170@" providerName="System.Data.SqlClient"/>
    <add name="Connection_String" connectionString="Data Source=.\SQL2019;Initial Catalog=qpailerp31102021_live; User=sa; Password=3p3200170@" providerName="System.Data.SqlClient"/>
	  <add name="Report_Server" connectionString="Data Source=.\SQL2019;Initial Catalog=qpailerp31102021_live; User=sa; Password=3p3200170@" providerName="System.Data.SqlClient"/>
    <add name="qpailerpConnectionString" connectionString="Data Source=.\SQL2019;Initial Catalog=qpailerp31102021_live; User=sa; Password=3p3200170@" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
	  <httpRuntime executionTimeout="3600" maxRequestLength="29296" />
	  <trace enabled="true" mostRecent="true" />
    <globalization culture="bn-BD" uiCulture="bn-IN" />
    <roleManager enabled="true" />
    <!--
      Set compilation debug="true" to insert debugging
      symbols into the compiled page. Because this
      affects performance, set this value to true only
      during development.
    -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="Telerik.Reporting, Version=4.2.10.1110, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>
        <add assembly="Telerik.Reporting.Service, Version=4.2.10.1110, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
      <buildProviders />
    </compilation>
    <authentication mode="Forms">
      <forms name=".AppNameCookie" loginUrl="Login.aspx" timeout="3000" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="3" passwordStrengthRegularExpression="" applicationName="/" />
      </providers>
    </membership>
    <authorization />
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors defaultRedirect="~/js-error.aspx" mode="Off" />
    <pages theme="Blue" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <!--<add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>-->
      </controls>
    </pages>
    <!--
      The <customErrors> section enables configuration
      of what to do if/when an unhandled error occurs
      during the execution of a request. Specifically,
      it enables developers to configure html error pages
      to be displayed in place of a error stack trace.

    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm" />
      <error statusCode="404" redirect="FileNotFound.htm" />
    </customErrors>
    -->
    <httpHandlers>
      <!--<add path="ThumbnailHandler.ashx" verb="*" type="NotesFor.ThumbnailHandler, NotesForGallery"/>-->
      <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=9.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add verb="*" path="Telerik.ReportViewer.axd" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.2.10.1110, Culture=neutral, PublicKeyToken=A9D7983DFCC261BE"/>-->
    </httpHandlers>
    <httpModules>
      <!--<add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule"/>
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>-->
      <!--<add name="URLRewriter" type="URLRewriter"/>-->
    </httpModules>
    <machineKey validationKey="082BBBF49453937EDC56F6FDBDF5DF1820D08CB2FD5F5FD7F6CDA8B85AA82E9633399CECEFDDB4B65B832B0CC57837EBA343893F346607FE22C175BACDDB45DD" decryptionKey="03CB1B2C678C0BD4118E95EB3AC9D9FBD6377BF7F514940C5C0DEB4379B98F6A" validation="SHA1" decryption="AES" />
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="sdl.spider@gmail.com">
        <network host="smtp.gmail.com" password="sdl-2011" port="587" userName="sdl.spider@gmail.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <IpBlockerGroup>
    <IpBlockerConfiguration>
      <pages defaultScheme="blockCountry">
        <page name="contactus.aspx" />
      </pages>
      <schemes>
        <!-- Used for Load Test -->
        <scheme name="blockCountry">
          <ips>
            <!-- Use * as wild card -->
            <!--<ip value="*.*.*.*" access="granted" valueType="IpAddress" />-->
            <!-- min value and max value seperated by ; (i.e. 127.1.2.3;233.3.3.2) -->
            <!--<ip value="127.0.0.1;127.0.0.2" access="denied" valueType="IpRange" />-->
            <!-- ; seperated country code (i.e. XX;IN;US) -->
            <ip value="IR;RU;SA;IN" access="denied" valueType="CountryCode" />
          </ips>
        </scheme>
      </schemes>
    </IpBlockerConfiguration>
  </IpBlockerGroup>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
<ajaxControlToolkit htmlSanitizer="AjaxControlToolkit.HtmlEditor.Sanitizer.DefaultHtmlSanitizer, AjaxControlToolkit.HtmlEditor.Sanitizer" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>